

#setting {
    .box {
        .desc {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .row {
        padding-right: 0;
    }

    #settinglist {        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                padding-bottom: 5px;

                span {
                    float: right;
                    display: none;

                    .fa {
                        color: #999;
                        padding: 0 0 0 15px;
                        cursor: pointer;                       
                    }                     
                }
                &:hover {
                        span {
                            display: block;
                        }
                    }
            }
        }
    }

    .popup {
        > div {
            width: 320px;
            min-height: 50px;

            .form {
                border: 0;
                padding: 0;
            }
        }
    }
}

.ant-card {
   font-family: 'DB_Helvethaica_55_regular';
   font-size: 20px;
   min-height: 14.5em;
}
.ant-card-head {
   font-size: 24px;
   font-family: 'DB_Helvethaica_65_Medium';
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
    background-color: #BF1E2E;
    border-color: #BF1E2E;
}